<!DOCTYPE html>
<html>
<head>
    <title>Azure VM Viewer</title>
</head>
<body>
    <h1>Azure VM Viewer</h1>
    <button onclick="getVM()">Get Azure VMs</button>
    <div id="result"></div>

    <script>
        function getVM() {
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/get_vm", true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    document.getElementById("result").innerHTML = xhr.responseText;
                }
            };
            xhr.send();
        }
    </script>
</body>
</html>
